@font-face {
	font-family: 'Quicksand';
	src: url(Quicksand-VariableFont_wght.ttf);
}

html {
	height: 100%;
    font-family: 'Quicksand';
}

body {
	padding-top: 76px;
	height: 100%;
}

#main-container, #main-container .row {
	height: 100%;
	/* color: #efecec; */
}

.sidebar {
	padding: 10px 0;
	background-color: rgb(14, 158, 14);
	border-right: 1px solid #eee;
	position: fixed;
	left: 0;
	top: 76px;
	min-height: 100%;
}

.sidebar ul {
	margin-bottom: 20px;
}

.sidebar ul li {
	padding-left: 10px;
	min-height: 2.2rem;
}

.sidebar ul li a {
	text-decoration: none;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sidebar ul li {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sidebar ul li.active,
.sidebar ul li.active a,
.sidebar ul li:hover,
.sidebar ul li:hover a,
.sidebar ul li a:hover {
	background-color: #f5f5f5;
	color: black;
}
.sidebar ul li:hover {
	cursor: pointer;
}

.resources-row {
	width: 40%;
}
